@font-face {
  font-display: swap;
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 100 1000;
  src: url("/google-sans-flex.woff2") format("woff2");
}

html {
  font-family: "Google Sans Flex", sans-serif;
  font-feature-settings: "kern";
  font-size: 1rem;
  scroll-padding-top: 200px;
  -webkit-text-size-adjust: 100%;
}

@keyframes flash {
  from { background-color: #d0d0d0; }
  to { background-color: white; }
}

#nav {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  display: flex;
  height: 70px;
  padding: 0 max(30px, calc(50% - 300px));
  position: fixed;
  top: -70px;
  transition: top 200ms ease-out;
  width: 100%;
  z-index: 1;
}
@media (min-height: 420px) {
  #nav.on {
    top: 0;
  }
}
#nav img {
  height: 100%;
}
#nav a {
  color: inherit;
  padding: 20px 8px;
  text-decoration: none;
}
#nav a:hover {
  opacity: 0.5;
}

#i18n {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  display: none;
  padding: 10px max(30px, calc(50% - 300px)) 10px;
}
#i18n a {
  color: inherit;
}

#unofficial {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  padding: 10px max(30px, calc(50% - 300px)) 10px;
}
#unofficial a {
  color: inherit;
}

h1 {
  background-color: #d0d0d0;
  background-image: url("/hero.avif");
  background-position: 50% 30%;
  background-size: cover;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  font-size: 2rem;
  line-height: 1;
  padding: 400px 30px 40px;
  text-align: center;
  width: 100%;
}
h1 small {
  display: block;
  font-size: 1rem;
  font-weight: normal;
  transform: translateY(-3px);
}

#about {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  padding: 2rem max(30px, calc(50% - 300px)) 2rem;
}
#about:target {
  animation: 400ms linear 200ms flash;
}
#about > :not(:last-child) {
  margin-bottom: 1rem;
}
#about h2 {
  font-size: 2rem;
  font-weight: bold;
}
#about a {
  color: inherit;
}
#about figure {
  background-color: #f0f0f0;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #d0d0d0;
  margin-inline: clamp(-20px, 50% - 300px, 0px);
  padding: 1rem 20px;
  width: min(600px, 100vw - 20px);
}
#about figure img {
  margin-inline: auto;
  width: 100%;
}
#about figure figcaption {
  margin-top: 10px;
  text-align: center;
}
#about figure blockquote::before {
  content: "“";
  margin-right: -3px;
}
#about figure blockquote::after {
  content: "”";
  margin-left: -3px;
}

#ironowa {
  background-color: #fff8f8;
  border-bottom: 1px solid #d0d0d0;
  color: #623239;
  padding: 2rem max(30px, calc(50% - 300px)) 3rem;
}
#ironowa > :not(:last-child) {
  margin-bottom: 1rem;
}
#ironowa h2 {
  background-clip: text;
  background-image: linear-gradient(90deg, #623239 0px, #d72e45 135px);
  color: transparent;
  font-size: 2rem;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
}
#ironowa iframe {
  background-color: #f0f0f0;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #d0d0d0;
  display: block;
  margin-inline: clamp(-20px, 50% - 300px, 0px);
  width: min(600px, 100vw - 20px);
}

#pickup {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  padding: 2rem max(30px, calc(50% - 300px)) 3rem;
}
#pickup > :not(:last-child) {
  margin-bottom: 1rem;
}
#pickup h2 {
  font-size: 2rem;
  font-weight: bold;
}
#pickup select {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  padding: 0;
  width: 100%;
}
#pickup iframe {
  background-color: #f0f0f0;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #d0d0d0;
  display: block;
  margin-inline: clamp(-20px, 50% - 300px, 0px);
  width: min(600px, 100vw - 20px);
}

#release {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  padding: 2rem max(30px, calc(50% - 300px)) 3rem;
}
#release:target {
  animation: 400ms linear 200ms flash;
}
#release > :not(:last-child) {
  margin-bottom: 1rem;
}
#release h2 {
  font-size: 2rem;
  font-weight: bold;
}
#release ul {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}
#release li {
  border-radius: 12px;
  box-shadow: 0 0 0 1px #d0d0d0;
  height: 48px;
  overflow: hidden;
  width: 48px;
}

#amatsukasa {
  background-color: #f8faff;
  border-bottom: 1px solid #d0d0d0;
  color: #00125b;
  padding: 2rem max(30px, calc(50% - 300px)) 2rem;
}
#amatsukasa > :not(h4, :last-child) {
  margin-bottom: 1rem;
}
#amatsukasa h2 {
  background-clip: text;
  background-image: linear-gradient(90deg, #00125b 0px, #0d7da8 200px);
  color: transparent;
  font-size: 2rem;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
}
#amatsukasa h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 3rem;
  text-align: center;
}
#amatsukasa h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2px;
}
#amatsukasa a {
  color: inherit;
}
#amatsukasa iframe {
  background-color: #f0f0f0;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #d0d0d0;
  display: block;
  margin-inline: clamp(-20px, 50% - 300px, 0px);
  width: min(600px, 100vw - 20px);
}
#amatsukasa ul {
  display: inline-flex;
  column-gap: 8px;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
#amatsukasa li:not(:last-child)::after {
  content: ",";
}

#stickers {
  background-color: white;
  color: black;
  padding: 2rem max(30px, calc(50% - 300px)) 2rem;
}
#stickers:target {
  animation: 400ms linear 200ms flash;
}
#stickers > :not(:last-child) {
  margin-bottom: 1rem;
}
#stickers a {
  background-color: #06c755;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #00b543;
  color: white;
  display: block;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
}
#stickers a:hover {
  opacity: 0.7;
}

#fab {
  bottom: 20px;
  display: block;
  position: fixed;
  right: max(20px, calc(50% - 380px));
}
#fab:hover {
  opacity: 0.7;
}
