@font-face {
  font-display: swap;
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 100 1000;
  src: url("/google-sans-flex.woff2") format("woff2");
}

html {
  font-family: "Google Sans Flex", sans-serif;
  font-feature-settings: "kern";
  font-size: 1rem;
  scroll-padding-top: 74px;
}

@keyframes flash {
  from { opacity: 0.3; }
  to { opacity: 1.0; }
}

#header {
  align-items: center;
  background-color: #f4f4f4;
  color: black;
  display: flex;
  height: 70px;
  padding: 0 max(22px, 50% - 300px);  /* #header a adds 8px padding */
  position: fixed;
  top: -70px;  /* controlled by js */
  transition: top 200ms ease-out;
  width: 100%;
  z-index: 1;
}
#header img {
  height: 100%;
}
#header a {
  color: inherit;
  padding: 20px 8px;
  text-decoration: none;
}
#header a:hover {
  opacity: 0.5;
}

#i18n {
  background-color: #f4f4f4;
  color: black;
  display: none;
  padding: 10px max(30px, 50% - 300px) 10px;
}
#i18n a {
  color: inherit;
}

#unofficial {
  background-color: #f4f4f4;
  color: black;
  padding: 10px max(30px, 50% - 300px) 10px;
}
#unofficial a {
  color: inherit;
}

#hero {
  background-color: white;
  height: 500px;
  width: 100%;
}
@keyframes hero-01 { 0% { opacity: 0; translate: -8px 6px; } 100% { opacity: 1; translate: 0 0; } }
@keyframes hero-02 { 0% { opacity: 0; translate: -5px -1px; } 100% { opacity: 1; translate: 0 0; } }
@keyframes hero-03 { 0% { opacity: 0; translate: -1px -5px; } 100% { opacity: 1; translate: 0 0; } }
@keyframes hero-04 { 0% { translate: 2px 2px; } 100% { translate: 0 0; } }
@keyframes hero-05 { 0% { opacity: 0; translate: -1px -5px; } 100% { opacity: 1; translate: 0 0; } }
@keyframes hero-06 { 0% { opacity: 0; translate: 3px 3px; } 100% { opacity: 1; translate: 0 0; } }
@keyframes hero-07 { 0% { opacity: 0; translate: 5px -1px; } 100% { opacity: 1; translate: 0 0; } }
@keyframes hero-08 { 0% { opacity: 0; translate: 3px -3px; } 100% { opacity: 1; translate: 0 0; } }
@keyframes hero-09 { 0% { opacity: 0; translate: -4px -2px; } 100% { opacity: 1; translate: 0 0; } }
@keyframes hero-10 { 0% { opacity: 0; translate: -3px 3px; } 100% { opacity: 1; translate: 0 0; } }
@keyframes hero-11 { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes hero-12 { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes hero-13 { 0% { opacity: 0; } 100% { opacity: 1; } }
#hero-01 { animation: hero-01 both ease-out 400ms 0ms; }
#hero-02 { animation: hero-02 both ease-out 400ms 100ms; }
#hero-03 { animation: hero-03 both ease-out 400ms 300ms; }
#hero-04 { animation: hero-04 both ease-out 400ms 300ms; }
#hero-05 { animation: hero-05 both ease-out 400ms 200ms; }
#hero-06 { animation: hero-06 both ease-out 400ms 100ms; }
#hero-07 { animation: hero-07 both ease-out 400ms 150ms; }
#hero-08 { animation: hero-08 both ease-out 400ms 200ms; }
#hero-09 { animation: hero-09 both ease-out 400ms 250ms; }
#hero-10 { animation: hero-10 both ease-out 400ms 300ms; }
#hero-11 { animation: hero-11 both ease-out 400ms 400ms; }
#hero-12 { animation: hero-12 both ease-out 400ms 400ms; }
#hero-13 { animation: hero-13 both ease-out 400ms 400ms; }

h1 {
  background-color: transparent;
  color: black;
  font-size: 2rem;
  line-height: 1;
  margin-top: -128px;  /* 40px + 1rem + 2rem + 40px */
  padding: 40px 30px;
  text-align: center;
  width: 100%;
}
h1 small {
  display: block;
  font-size: 1rem;
  font-weight: normal;
  transform: translateY(-3px);
}

#tokiakari {
  background-color: #f4f4f4;
  color: black;
  padding: 24px max(30px, 50% - 300px) 24px;
}
#tokiakari > * {
  margin-bottom: 1rem;
}
#tokiakari h2 {
  font-size: 2rem;
}
#tokiakari iframe {
  background-color: white;
  border: 0;
  border-radius: 12px;
  display: block;
  margin-inline: clamp(-20px, 50% - 300px, 0px);
  width: min(600px, 100vw - 20px);
}

#ironowa {
  background-color: white;
  color: black;
  padding: 24px max(30px, 50% - 300px) 24px;
}
#ironowa > * {
  margin-bottom: 1rem;
}
#ironowa summary {
  cursor: pointer;
  display: flex;
  list-style: none;
  margin: -24px -30px -24px;
  padding: 24px 30px 24px;
}
#ironowa[open] summary {
  /* margin (-8px) plus padding (24px) creates apparent gap 16px = 1rem */
  margin-bottom: -8px;
}
#ironowa summary:hover {
  opacity: 0.5;
}
#ironowa summary::before {
  background-color: black;
  clip-path: polygon(7px 14px, 7px 21px, 0px 21px, 0px 27px, 7px 27px, 7px 34px, 13px 34px, 13px 27px, 20px 27px, 20px 21px, 13px 21px, 13px 14px);
  content: "";
  display: block;
  flex-shrink: 0;
  height: 48px;
  margin-right: 16px;
  width: 20px;
}
#ironowa[open] summary::before {
  clip-path: polygon(0px 21px, 0px 27px, 20px 27px, 20px 21px);
}
#ironowa h2 {
  font-size: 2rem;
  flex: 1;
}
#ironowa iframe {
  background-color: #f4f4f4;
  border: 0;
  border-radius: 12px;
  display: block;
  margin-inline: clamp(-20px, 50% - 300px, 0px);
  width: min(600px, 100vw - 20px);
}

#amatsukasa {
  background-color: #f4f4f4;
  color: black;
  padding: 24px max(30px, 50% - 300px) 24px;
}
#amatsukasa > * {
  margin-bottom: 1rem;
}
#amatsukasa summary {
  cursor: pointer;
  display: flex;
  list-style: none;
  margin: -24px -30px -24px;
  padding: 24px 30px 24px;
}
#amatsukasa[open] summary {
  /* margin (-8px) plus padding (24px) creates apparent gap 16px = 1rem */
  margin-bottom: -8px;
}
#amatsukasa summary:hover {
  opacity: 0.5;
}
#amatsukasa summary::before {
  background-color: black;
  clip-path: polygon(7px 14px, 7px 21px, 0px 21px, 0px 27px, 7px 27px, 7px 34px, 13px 34px, 13px 27px, 20px 27px, 20px 21px, 13px 21px, 13px 14px);
  content: "";
  display: block;
  flex-shrink: 0;
  height: 48px;
  margin-right: 16px;
  width: 20px;
}
#amatsukasa[open] summary::before {
  clip-path: polygon(0px 21px, 0px 27px, 20px 27px, 20px 21px);
}
#amatsukasa h2 {
  font-size: 2rem;
}
#amatsukasa h3 {
  font-size: 1.3rem;
  margin-top: 24px;
}
#amatsukasa h4 {
  font-size: 1rem;
  margin-bottom: 2px;
}
#amatsukasa a {
  color: inherit;
}
#amatsukasa iframe {
  background-color: white;
  border: 0;
  border-radius: 12px;
  display: block;
  margin-inline: clamp(-20px, 50% - 300px, 0px);
  width: min(600px, 100vw - 20px);
}
#amatsukasa ul {
  display: inline-flex;
  column-gap: 8px;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}
#amatsukasa li:not(:last-child)::after {
  content: ",";
}

#pickup {
  background-color: white;
  color: black;
  padding: 24px max(30px, 50% - 300px) 24px;
}
#pickup:target {
  animation: 400ms linear 200ms flash;
}
#pickup > * {
  margin-bottom: 1rem;
}
#pickup h2 {
  font-size: 2rem;
}
#pickup select {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  padding: 0;
  width: 100%;
}
#pickup iframe {
  background-color: #f4f4f4;
  border: 0;
  border-radius: 12px;
  display: block;
  margin-inline: clamp(-20px, 50% - 300px, 0px);
  width: min(600px, 100vw - 20px);
}

#about {
  background-color: #f4f4f4;
  color: black;
  padding: 24px max(30px, 50% - 300px) 24px;
}
#about:target {
  animation: 400ms linear 200ms flash;
}
#about > * {
  margin-bottom: 1rem;
}
#about h2 {
  font-size: 2rem;
}
#about a {
  color: inherit;
}
#about img {
  margin-inline: auto;
  width: 100%;
}
#about figcaption {
  text-align: center;
}
#about figcaption::before {
  content: "▲ ";
}

#release {
  background-color: white;
  color: black;
  padding: 24px max(30px, 50% - 300px) 24px;
}
#release:target {
  animation: 400ms linear 200ms flash;
}
#release > * {
  margin-bottom: 1rem;
}
#release h2 {
  font-size: 2rem;
}
#release ul {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}
#release li {
  border-radius: 12px;
  height: 48px;
  overflow: hidden;
  width: 48px;
}
#release li:hover {
  opacity: 0.6;
}

#stickers {
  background-color: #f4f4f4;
  color: black;
  padding: 24px max(30px, 50% - 300px) 24px;
}
#stickers:target {
  animation: 400ms linear 200ms flash;
}
#stickers > * {
  margin-bottom: 1rem;
}
#stickers a {
  background-color: #06c755;
  border-radius: 12px;
  color: white;
  display: block;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
}
#stickers a:hover {
  opacity: 0.7;
}

#fab {
  bottom: 20px;
  display: block;
  position: fixed;
  right: max(20px, 50% - 380px);
}
#fab:hover {
  opacity: 0.7;
}
