html {
  font-family: serif;
  font-feature-settings: "palt";
  font-size: 1rem;
  scroll-padding-top: 200px;
  text-align: justify;
  -webkit-text-size-adjust: 100%;
}

@keyframes flash {
  from { background-color: #d0d0d0; }
  to { background-color: white; }
}

#nav {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  display: flex;
  height: 70px;
  padding: 0 max(30px, calc(50% - 300px));
  position: fixed;
  top: -70px;
  transition: top 200ms ease-out;
  width: 100%;
  z-index: 9;
}
@media (min-height: 420px) {
  #nav.on {
    top: 0;
  }
}
#nav img {
  height: 100%;
}
#nav a {
  color: inherit;
  padding: 20px 8px;
  text-decoration: none;
}
#nav a:hover {
  opacity: 0.5;
}

#i18n {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  display: none;
  padding: 11px max(30px, calc(50% - 300px)) 9px;
}
#i18n a {
  color: inherit;
}

#unofficial {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  padding: 9px max(30px, calc(50% - 300px)) 11px;
}
#unofficial a {
  color: inherit;
}

@keyframes topics-li {
  /* Do not use translate property as it breaks .scrollTo() method */
  0% { opacity: 0; padding-block: 12px 8px; }
  5% { opacity: 1; padding-block: 9px 11px; }
  95% { opacity: 1; padding-block: 9px 11px; }
  100% { opacity: 0; padding-block: 6px 14px; }
}
#topics {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  height: 44px;
  list-style: none;
  /*
   * "overflow: clip" is generally preferred but we wanna scroll
   * #topics so use "overflow: hidden" to create scroll container.
   */
  overflow: hidden;
  padding-left: 0;
}
#topics noscript {
  display: block;
  overflow: clip;
  padding: 9px max(30px, calc(50% - 300px)) 11px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#topics li {
  /* animationstart event does not fire reliably without 1ms delay */
  animation: 5s linear 1ms both paused topics-li;
  overflow: clip;
  padding-inline: max(30px, calc(50% - 300px));
  text-overflow: ellipsis;
  white-space: nowrap;
}
#topics a {
  color: inherit;
}

h1 {
  background-color: #d0d0d0;
  background-image: url("/hero.avif");
  background-position: 50% 30%;
  background-size: cover;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  font-size: 3rem;
  line-height: 1;
  padding: 350px 30px 40px;
  text-align: center;
  width: 100%;
}
h1 small {
  display: block;
  font-size: 1rem;
  font-weight: normal;
  transform: translate(-40px, -5px);
}

#tokiakari {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  padding: 30px max(30px, calc(50% - 300px)) 30px;
}
#tokiakari:target {
  animation: 400ms linear 200ms flash;
}
#tokiakari > :not(h2, :last-child) {
  margin-bottom: 1rem;
}
#tokiakari h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
  text-align: center;
}
#tokiakari iframe {
  background-color: #f0f0f0;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #d0d0d0;
  display: block;
  margin-inline: clamp(-20px, 50% - 300px, 0px);
  width: min(600px, 100vw - 20px);
}
#tokiakari .spoiler {
  color: transparent;
}
#tokiakari .spoiler:active {
  color: inherit;
}

#news {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  padding: 30px max(10px, calc(50% - 300px)) 30px;
}
#news:target {
  animation: 400ms linear 200ms flash;
}
#news > :not(h2, :last-child) {
  margin-bottom: 1rem;
}
#news h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
  text-align: center;
}
#news article {
  background-color: white;
  box-shadow: 0 0 0 1px #d0d0d0;
  border-radius: 12px;
  padding: 20px;
}
#news article:target {
  animation: 400ms linear 200ms flash;
}
#news article > :not(:last-child) {
  margin-bottom: 1rem;
}
#news h3 {
  font-size: 1rem;
  font-weight: bold;
}
#news h3 time {
  color: #707070;
  font-weight: normal;
  margin-right: 8px;
}
#news hr {
  border: 0;
  border-bottom: 1px dashed #d0d0d0;
  margin-inline: -20px;
  width: calc(100% + 40px);
}
#news a {
  color: inherit;
  word-break: break-all;
}
#news dl {
  display: grid;
  column-gap: 4px;
  grid-template-columns: 24px auto auto;
  row-gap: 4px;
}
#news dt {
  grid-column: 1;
}
#news dt img {
  height: 24px;
  padding: 2px;
  width: 24px;
}
#news dd h4 {
  color: #707070;
  font-weight: normal;
}
#news dd ul {
  margin-bottom: 4px;
  padding-left: 0;
  list-style: none;
}
#news dd li {
  margin-bottom: -4px;
}
#news .tiles {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
}
#news .tile {
  aspect-ratio: 1 / 1;
  background-clip: padding-box;
  background-color: #d0d0d0;
  border: 1px solid transparent;
  display: block;
  overflow: clip;
}
#news a.tile:hover {
  opacity: 0.7;
}
#news .tile3x2 {
  aspect-ratio: 3 / 2;
  grid-column: span 3;
  grid-row: span 2;
}
#news .tile2x2 {
  aspect-ratio: 2 / 2;
  grid-column: span 2;
  grid-row: span 2;
}
#news .tile1x2 {
  aspect-ratio: 1 / 2;
  grid-column: span 1;
  grid-row: span 2;
}
#news .tile2x1 {
  aspect-ratio: 2 / 1;
  grid-column: span 2;
  grid-row: span 1;
}
#news .tile img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
#news .more {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #d0d0d0;
  display: block;
  padding: 8px 20px 8px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
#news .more:hover {
  background-color: #f0f0f0;
}

#ironowa {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  padding: 30px max(30px, calc(50% - 300px)) 30px;
}
#ironowa:target {
  animation: 400ms linear 200ms flash;
}
#ironowa > :not(h2, :last-child) {
  margin-bottom: 1rem;
}
#ironowa h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
  text-align: center;
}
#ironowa iframe {
  background-color: #f0f0f0;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #d0d0d0;
  display: block;
  margin-inline: clamp(-20px, 50% - 300px, 0px);
  width: min(600px, 100vw - 20px);
}
#ironowa ruby {
  display: inline-flex;
}
#ironowa ruby rt {
  font-size: 1rem;
  font-variant: normal;
  line-height: inherit;
}
#ironowa ruby rt::before {
  content: "（";
}
#ironowa ruby rt::after {
  content: "）";
}
#ironowa a {
  color: inherit;
}

#about {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  padding: 30px max(30px, calc(50% - 300px)) 30px;
}
#about > :not(h2, :last-child) {
  margin-bottom: 1rem;
}
#about h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
  text-align: center;
}
#about b {
  font-weight: bold;
}
#about figure {
  margin-inline: auto;
  max-width: 100%;
}
#about figure img {
  margin-bottom: 4px;
}
#about figure figcaption {
  text-align: center;
}

#release {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  padding: 30px max(30px, calc(50% - 300px)) 30px;
}
#release:target {
  animation: 400ms linear 200ms flash;
}
#release > :not(h2, :last-child) {
  margin-bottom: 1rem;
}
#release h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
  text-align: center;
}
#release ul {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}
#release li {
  border-radius: 12px;
  box-shadow: 0 0 0 1px #d0d0d0;
  height: 48px;
  overflow: hidden;
  width: 48px;
}
#release li:hover {
  opacity: 0.6;
}

#discography {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  padding: 30px max(30px, calc(50% - 300px)) 30px;
}
#discography:target {
  animation: 400ms linear 200ms flash;
}
#discography > :not(h2, :last-child) {
  margin-bottom: 1rem;
}
#discography h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
  text-align: center;
}
#discography .tiles {
  display: grid;
  gap: 10px;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}
#discography .tile {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #d0d0d0;
  color: inherit;
  overflow: clip;
  position: relative;
  text-decoration: none;
}
#discography .tile img {
  height: 100%;
  left: 0;
  object-fit: cover;
  opacity: 0.5;
  position: absolute;
  scale: 1.0;
  top: 0;
  transition: opacity 100ms ease-out, scale 100ms ease-out;
  width: 100%;
}
#discography .tile:hover img {
  opacity: 1.0;
  scale: 1.1;
}
#discography .tile small {
  bottom: 30px;
  font-size: 0.9rem;
  left: 16px;
  position: absolute;
  text-shadow: 0 0 5px white;
}
#discography .tile h3 {
  bottom: 8px;
  font-size: 1rem;
  font-weight: bold;
  left: 16px;
  position: absolute;
  text-shadow: 0 0 10px white;
}

#verse {
  background-color: black;
  border-bottom: 1px solid #d0d0d0;
  color: white;
  padding: 30px max(30px, calc(50% - 300px)) 30px;
}
#verse > :not(:last-child) {
  margin-bottom: 1rem;
}
#verse blockquote {
  display: flex;
  flex-direction: column;
  font-feature-settings: normal;
  justify-content: center;
  width: 100%;
  writing-mode: vertical-rl;
}
#verse h2 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 2.6;
}

#stickers {
  background-color: white;
  color: black;
  padding: 30px max(30px, calc(50% - 300px)) 30px;
}
#stickers:target {
  animation: 400ms linear 200ms flash;
}
#stickers > :not(:last-child) {
  margin-bottom: 1rem;
}
#stickers a {
  background-color: #06c755;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #00b543;
  color: white;
  display: block;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
}
#stickers a:hover {
  opacity: 0.7;
}

#fab {
  bottom: 20px;
  display: block;
  position: fixed;
  right: max(20px, calc(50% - 380px));
}
#fab:hover {
  opacity: 0.7;
}
