html {
  font-family: serif;
  font-feature-settings: "palt";
  font-size: 1rem;
  scroll-padding-top: 200px;
  text-align: justify;
}

@keyframes flash {
  from { background-color: #e0e0e0; }
  to { background-color: white; }
}

#nav {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  display: flex;
  height: 70px;
  padding: 0 max(30px, 50% - 300px);
  position: fixed;
  top: -70px;
  transition: top 200ms ease-out;
  width: 100%;
  z-index: 9;
}
@media (min-height: 420px) {
  #nav.on {
    top: 0;
  }
}
#nav img {
  height: 100%;
}
#nav a {
  color: inherit;
  padding: 20px 8px;
  text-decoration: none;
}
#nav a:hover {
  opacity: 0.5;
}

#i18n {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  display: none;
  padding: 11px max(30px, 50% - 300px) 9px;
}
#i18n a {
  color: inherit;
}

#unofficial {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  padding: 9px max(30px, 50% - 300px) 11px;
}
#unofficial a {
  color: inherit;
}

@keyframes topics-li {
  /* Do not use translate property as it breaks .scrollTo() method */
  0% { opacity: 0; padding-block: 12px 8px; }
  5% { opacity: 1; padding-block: 9px 11px; }
  95% { opacity: 1; padding-block: 9px 11px; }
  100% { opacity: 0; padding-block: 6px 14px; }
}
#topics {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #e0e0e0;
  color: black;
  height: 44px;
  list-style: none;
  margin: 10px max(10px, 50% - 320px);
  /*
   * "overflow: clip" is generally preferred but we wanna scroll
   * #topics so use "overflow: hidden" to create scroll container.
   */
  overflow: hidden;
  padding-left: 0;
  position: relative;
  z-index: 1;
}
#topics noscript {
  display: block;
  overflow: clip;
  padding: 9px 20px 11px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#topics li {
  /* animationstart event does not fire reliably without 1ms delay */
  animation: 5s linear 1ms both paused topics-li;
  overflow: clip;
  padding-inline: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#topics a {
  color: inherit;
}

h1 {
  background-color: #f0f0f0;
  background-image: url("/hero.avif");
  background-position: 50% 30%;
  background-size: cover;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  font-size: 3rem;
  line-height: 1;
  margin-top: -64px;
  padding: 390px 30px 40px;
  text-align: center;
  width: 100%;
}
h1 small {
  display: block;
  font-size: 1rem;
  font-weight: normal;
  transform: translate(-40px, -5px);
}

#kisaragisai-2026 {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  padding: 30px max(30px, 50% - 300px) 30px;
}
#kisaragisai-2026:target {
  animation: 400ms linear 200ms flash;
}
#kisaragisai-2026 > :not(h2, dl, hr, :last-child) {
  margin-bottom: 1rem;
}
#kisaragisai-2026 h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
  text-align: center;
}
#kisaragisai-2026 h3 {
  font-size: 1rem;
  font-weight: bold;
}
#kisaragisai-2026 h3 small {
  background-color: black;
  border-radius: 12px;
  color: white;
  display: inline-block;
  font-size: 1rem;  /* not small actually */
  font-weight: normal;
  margin-inline-end: 4px;
  padding-inline: 8px;
}
#kisaragisai-2026 a {
  color: inherit;
  word-break: break-all;
}
#kisaragisai-2026 hr {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  margin: 24px -30px;
  width: calc(100% + 60px);
}
#kisaragisai-2026 .merchs {
  anchor-name: --kisaragisai-2026-merchs;
  anchor-scope: all;
  display: flex;
  gap: 1rem;
  margin-inline: clamp(-30px, 50% - 300px, 0px);
  overflow-x: scroll;
  padding: 1px clamp(1px, 300px - 50%, 30px);
  scroll-snap-type: x mandatory;
  width: min(600px, 100vw);
}
#kisaragisai-2026 .merchs::scroll-button(*) {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
  height: 40px;
  margin: 10px;
  padding: 0;
  position: absolute;
  position-anchor: --kisaragisai-2026-merchs;
  touch-action: manipulation;
  width: 40px;
}
#kisaragisai-2026 .merchs::scroll-button(*):hover {
  cursor: pointer;
  opacity: 0.4;
}
#kisaragisai-2026 .merchs::scroll-button(*):disabled {
  cursor: unset;
  opacity: 0.4;
}
#kisaragisai-2026 .merchs::scroll-button(left) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px'><path d='m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z' fill='%23000'/></svg>");
  content: "";
  position-area: center span-inline-end;
}
#kisaragisai-2026 .merchs::scroll-button(right) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px'><path d='M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z' fill='%23000'/></svg>");
  content: "";
  position-area: center span-inline-start;
}
#kisaragisai-2026 .merch {
  border-radius: 12px;
  box-shadow: 0 0 0 1px #e0e0e0;
  flex-grow: 0;
  flex-shrink: 0;
  height: 250px;
  overflow: clip;
  position: relative;
  scroll-snap-align: center;
  width: 200px;
}
#kisaragisai-2026 .merch img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
#kisaragisai-2026 .merch small {
  bottom: 38px;
  font-size: 1rem;  /* not small actually */
  left: 1rem;
  position: absolute;
}
#kisaragisai-2026 .merch b {
  bottom: 16px;
  left: 1rem;
  position: absolute;
}
#kisaragisai-2026 figure {
  border-radius: 12px;
  box-shadow: 0 0 0 1px #e0e0e0;
  margin-inline: auto;
  max-width: 100%;
  overflow: clip;
  width: 400px;
  /* <figure> has multiple subfigures */
  &:has(.lr, .lrl, .lrr, .lrlr) {
    display: grid;
    gap: 2px;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr;
  }
}
/* two subfigures on left, one on right */
#kisaragisai-2026 figure :nth-child(2 of .lrl) {
  grid-row: span 2;
}
/* one subfigure on left, two on right */
#kisaragisai-2026 figure :nth-child(1 of .lrr) {
  grid-row: span 2;
}
#kisaragisai-2026 figure figcaption {
  grid-column: 1 / -1;
  padding: 3px 0 5px;
  text-align: center;
}
#kisaragisai-2026 figure img {
  background-color: #f0f0f0;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
#kisaragisai-2026 figure a:hover {
  opacity: 0.7;
}

#news {
  background-color: #f0f0f0;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  padding: 30px max(10px, 50% - 300px) 30px;
}
#news:target {
  animation: 400ms linear 200ms flash;
}
#news > :not(h2, :last-child) {
  margin-bottom: 1rem;
}
#news h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
  text-align: center;
}
#news article {
  background-color: white;
  box-shadow: 0 0 0 1px #e0e0e0;
  border-radius: 12px;
  padding: 20px;
}
#news article:target {
  animation: 400ms linear 200ms flash;
}
#news article > :not(:last-child) {
  margin-bottom: 1rem;
}
#news h3 {
  font-size: 1rem;
  font-weight: bold;
}
#news h3 time {
  color: #707070;
  font-weight: normal;
  margin-right: 4px;
}
#news hr {
  border: 0;
  border-bottom: 1px dashed #e0e0e0;
  margin-inline: -20px;
  width: calc(100% + 40px);
}
#news a {
  color: inherit;
  word-break: break-all;
}
#news dl {
  display: grid;
  column-gap: 4px;
  grid-template-columns: 24px auto auto;
  row-gap: 4px;
}
#news dt {
  grid-column: 1;
}
#news dt img {
  height: 24px;
  padding: 2px;
  width: 24px;
}
#news dd h4 {
  color: #707070;
  font-weight: normal;
}
#news dd ul {
  margin-bottom: 4px;
  padding-left: 0;
  list-style: none;
}
#news dd li {
  margin-bottom: -4px;
}
#news .tiles {
  display: grid;
  gap: 2px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
}
#news .tile1x2 {
  grid-column: span 1;
  grid-row: span 2;
}
#news .tile2x1 {
  grid-column: span 2;
  grid-row: span 1;
}
#news .tile2x2 {
  grid-column: span 2;
  grid-row: span 2;
}
#news .tile3x2 {
  grid-column: span 3;
  grid-row: span 2;
}
#news .tiles img {
  background-color: #f0f0f0;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
#news .tiles a:hover {
  opacity: 0.7;
}
#news .more {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #e0e0e0;
  display: block;
  padding: 8px 20px 8px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
#news .more:hover {
  opacity: 0.5;
}

#ironowa {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  padding: 30px max(30px, 50% - 300px) 30px;
}
#ironowa:target {
  animation: 400ms linear 200ms flash;
}
#ironowa > :not(h2, :last-child) {
  margin-bottom: 1rem;
}
#ironowa h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
  text-align: center;
}
#ironowa iframe {
  background-color: #f0f0f0;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #e0e0e0;
  display: block;
  margin-inline: clamp(-20px, 50% - 300px, 0px);
  width: min(600px, 100vw - 20px);
}
#ironowa ruby {
  display: inline-flex;
}
#ironowa ruby rt {
  font-size: 1rem;
  font-variant: normal;
  line-height: inherit;
}
#ironowa ruby rt::before {
  content: "（";
}
#ironowa ruby rt::after {
  content: "）";
}
#ironowa a {
  color: inherit;
}

#tokiakari {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  padding: 30px max(30px, 50% - 300px) 30px;
}
#tokiakari:target {
  animation: 400ms linear 200ms flash;
}
#tokiakari > :not(h2, :last-child) {
  margin-bottom: 1rem;
}
#tokiakari h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
  text-align: center;
}
#tokiakari iframe {
  background-color: #f0f0f0;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #e0e0e0;
  display: block;
  margin-inline: clamp(-20px, 50% - 300px, 0px);
  width: min(600px, 100vw - 20px);
}
#tokiakari .spoiler {
  color: transparent;
}
#tokiakari .spoiler:active {
  color: inherit;
}

#about {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  padding: 30px max(30px, 50% - 300px) 30px;
}
#about > :not(h2, :last-child) {
  margin-bottom: 1rem;
}
#about h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
  text-align: center;
}
#about b {
  font-weight: bold;
}
#about figure {
  margin-inline: auto;
  max-width: 100%;
}
#about figure img {
  margin-bottom: 4px;
}
#about figure figcaption {
  text-align: center;
}

#release {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  padding: 30px max(30px, 50% - 300px) 30px;
}
#release:target {
  animation: 400ms linear 200ms flash;
}
#release > :not(h2, :last-child) {
  margin-bottom: 1rem;
}
#release h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
  text-align: center;
}
#release ul {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}
#release li {
  border-radius: 12px;
  box-shadow: 0 0 0 1px #e0e0e0;
  height: 48px;
  overflow: hidden;
  width: 48px;
}
#release li:hover {
  opacity: 0.6;
}

#discography {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  padding: 30px max(30px, 50% - 300px) 30px;
}
#discography:target {
  animation: 400ms linear 200ms flash;
}
#discography > :not(h2, :last-child) {
  margin-bottom: 1rem;
}
#discography h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1.3rem;
  text-align: center;
}
#discography .tiles {
  display: grid;
  gap: 10px;
  grid-auto-rows: 100px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}
#discography .tile {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #e0e0e0;
  color: inherit;
  overflow: clip;
  position: relative;
  text-decoration: none;
}
#discography .tile img {
  height: 100%;
  left: 0;
  object-fit: cover;
  opacity: 0.5;
  position: absolute;
  scale: 1.0;
  top: 0;
  transition: opacity 100ms ease-out, scale 100ms ease-out;
  width: 100%;
}
#discography .tile:hover img {
  opacity: 1.0;
  scale: 1.1;
}
#discography .tile small {
  bottom: 30px;
  font-size: 0.9rem;
  left: 16px;
  position: absolute;
  text-shadow: 0 0 5px white;
}
#discography .tile h3 {
  bottom: 8px;
  font-size: 1rem;
  font-weight: bold;
  left: 16px;
  position: absolute;
  text-shadow: 0 0 10px white;
}

#verse {
  background-color: black;
  border-bottom: 1px solid #e0e0e0;
  color: white;
  padding: 30px max(30px, 50% - 300px) 30px;
}
#verse > :not(:last-child) {
  margin-bottom: 1rem;
}
#verse blockquote {
  display: flex;
  flex-direction: column;
  font-feature-settings: normal;
  justify-content: center;
  width: 100%;
  writing-mode: vertical-rl;
}
#verse h2 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 2.6;
}

#stickers {
  background-color: white;
  color: black;
  padding: 30px max(30px, 50% - 300px) 30px;
}
#stickers:target {
  animation: 400ms linear 200ms flash;
}
#stickers > :not(:last-child) {
  margin-bottom: 1rem;
}
#stickers a {
  background-color: #06c755;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #00b543;
  color: white;
  display: block;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
}
#stickers a:hover {
  opacity: 0.7;
}

#fab {
  bottom: 20px;
  display: block;
  position: fixed;
  right: max(20px, 50% - 380px);
}
#fab:hover {
  opacity: 0.7;
}
