html {
  font-family: serif;
  font-feature-settings: "palt";
  font-size: 1.0rem;
  scroll-padding-top: 70px;
  -webkit-text-size-adjust: 100%;
}

#unofficial {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  padding: 9px max(30px, calc(50% - 300px)) 11px;
}
#unofficial a {
  color: inherit;
}

#nav {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  display: flex;
  fill: black;
  height: 70px;
  padding: 0 max(30px, calc(50% - 300px));
  position: sticky;
  top: 0;
  transition: all 100ms linear;
  width: 100%;
  z-index: 1;
}
#nav.transparent {
  background-color: transparent;
  border-bottom: 1px solid transparent;
  color: white;
  fill: white;
  text-shadow: 2px 2px 0 black;
}
#nav a {
  color: inherit;
  padding: 21px 8px 25px;
  text-decoration: none;
}
#nav a:hover {
  opacity: 0.5;
}

#firstview {
  background-color: #d0d0d0;
  background-image: url("/assets/firstview.webp");
  background-position: 50% 30%;
  background-size: cover;
  border-bottom: 1px solid #d0d0d0;
  color: white;
  font-size: 3.0rem;
  line-height: 1;
  margin-top: -70px;
  padding: 450px 30px 40px;
  text-align: center;
  text-shadow: 2px 2px 0 black;
  width: 100%;
}
#firstview small {
  display: block;
  font-size: 1.0rem;
  font-weight: normal;
  transform: translate(-40px, -5px);
}

#about {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  padding: 30px max(30px, calc(50% - 300px)) 30px;
}

#schedule {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  padding: 30px max(30px, calc(50% - 300px)) 30px;
}
#schedule > * {
  margin-bottom: 1rem;
}
#schedule a {
  color: inherit;
}

#amatsukasa {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  padding: 30px max(30px, calc(50% - 300px)) 30px;
}
#amatsukasa > * {
  margin-bottom: 1rem;
}
#amatsukasa .prologue {
  padding: 10px calc(min(300px, 50%) - 2.7rem) 40px;
  writing-mode: vertical-rl;
}
#amatsukasa .prologue p {
  height: 160px;
  position: relative;
}
#amatsukasa .prologue p:nth-child(2) {
  top: 20px;
}
#amatsukasa .prologue p:nth-child(3) {
  background-clip: text;
  background-image: linear-gradient(#40548a, #0d7da8 70%);
  color: transparent;
  font-size: 1.6rem;
  font-weight: bold;
  top: 40px;
}
#amatsukasa iframe {
  background-color: #d0d0d0;
  border: 0;
  width: 100%;
}
#amatsukasa .epilogue {
  padding: 10px calc(min(300px, 50%) - 1.55rem) 20px;
  writing-mode: vertical-rl;
}
#amatsukasa .epilogue p {
  height: 195px;
  position: relative;
}
#amatsukasa .epilogue p:nth-child(2) {
  background-image: linear-gradient(#40548a, #0d7da8);
  background-clip: text;
  color: transparent;
  font-size: 1.6rem;
  font-weight: bold;
  top: 20px;
}

#discography {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  padding: 30px max(30px, calc(50% - 300px)) 30px;
}
#discography > * {
  margin-bottom: 1rem;
}
#discography ul {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
#discography li a {
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #d0d0d0;
  color: inherit;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  text-decoration: none;
}
#discography li a:hover {
  background-color: #00000010;
}
#discography li img {
  height: 65px;
  width: 65px;
}

#hanabi-sanka {
  background-color: white;
  color: black;
  padding: 30px calc(50% - 4.3rem) 30px;
  width: 100%;
  writing-mode: vertical-rl;
}
#hanabi-sanka h2 {
  font-size: 1.0rem;
  line-height: 2.6;
  font-weight: normal;
}
