html {
  font-family: serif;
  font-feature-settings: "palt";
  font-size: 1rem;
  /*
   * All other pages have 74px scroll padding but
   * we don't because section has 4px top margin.
   */
  scroll-padding-top: 70px;
  text-align: justify;
}

@keyframes flash {
  from { opacity: 0.3; }
  to { opacity: 1.0; }
}

#header {
  align-items: center;
  background-color: #f4f4f4;
  color: black;
  display: flex;
  height: 70px;
  padding: 0 max(22px, 50% - 300px);  /* #header a adds 8px padding */
  position: fixed;
  top: -70px;  /* controlled by js */
  transition: top 200ms ease-out;
  width: 100%;
  z-index: 1;
}
#header a:hover {
  opacity: 0.5;
}
#header a.top {
  aspect-ratio: 1 / 1;
  height: 100%;
}
#header a.toc {
  color: inherit;
  padding: 20px 8px;
  text-decoration: none;
}

#unofficial {
  background-color: #f4f4f4;
  color: black;
  padding: 9px max(30px, 50% - 300px) 11px;
}
#unofficial a {
  color: inherit;
}

@keyframes hero-img {
  from {
    opacity: 0;
    translate: 0 0;
  }
  to {
    opacity: 1;
    translate: 0 -30px;
  }
}
#hero {
  align-items: center;
  background-color: white;
  display: flex;
  height: 500px;
  justify-content: center;
  overflow: clip;
  width: 100%;
}
#hero img {
  animation: 700ms cubic-bezier(0.17, 0.84, 0.44, 1.00) both hero-img;
  animation-delay: calc(380ms + 120ms * sibling-index());
  border-radius: 12px;
  box-shadow: 0 0 0 1px white;
  rotate: 10deg;
  width: 90px;
}

h1 {
  background-color: transparent;
  color: black;
  font-size: 2rem;
  line-height: 1;
  margin-top: -112px;  /* 40px + 2rem + 40px */
  padding: 40px 30px;
  text-align: center;
  width: 100%;
}

section {
  background-color: #f4f4f4;
  border-top: 4px solid white;
  color: black;
  padding: 24px max(10px, 50% - 300px) 24px;
}
section > * {
  margin-bottom: 1rem;
}
section h2 {
  font-size: 1.7rem;
  padding-inline: 20px;
}

article {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
}
article:target {
  animation: 400ms linear 200ms flash;
}
article > :not(:last-child) {
  margin-bottom: 1rem;
}
article h3 {
  font-size: 1rem;
}
article h3 time {
  color: #707070;
  font-weight: normal;
  margin-right: 4px;
}
article hr {
  border: 0;
  border-bottom: 1px solid #f4f4f4;
  margin-inline: -20px;
  width: calc(100% + 40px);
}
article a {
  color: inherit;
  word-break: break-all;
}
article dl {
  display: grid;
  column-gap: 4px;
  grid-template-columns: 24px auto auto;
  row-gap: 4px;
}
article dt {
  grid-column: 1;
}
article dt img {
  height: 24px;
  padding: 2px;
  width: 24px;
}
article dd h4 {
  color: #707070;
  font-weight: normal;
}
article dd ul {
  margin-bottom: 4px;
  padding-left: 0;
  list-style: none;
}
article dd li {
  margin-bottom: -4px;
}
article .tiles {
  display: grid;
  gap: 2px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
}
article .tile1x2 {
  grid-column: span 1;
  grid-row: span 2;
}
article .tile2x1 {
  grid-column: span 2;
  grid-row: span 1;
}
article .tile2x2 {
  grid-column: span 2;
  grid-row: span 2;
}
article .tile3x2 {
  grid-column: span 3;
  grid-row: span 2;
}
article .tiles img {
  background-color: #f4f4f4;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
article .tiles a:hover {
  opacity: 0.7;
}
article .youtube {
  position: relative;
}
article .youtube::before {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' viewBox='0 0 68 48' xmlns='http://www.w3.org/2000/svg'><path d='M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z' fill='%23f03'/><path d='M 45,24 27,14 27,34' fill='%23fff'/></svg>");
  background-position: center;
  background-repeat: no-repeat;
  bottom: 8px;
  content: "";
  height: 24px;  /* Keep aspect ratio to 68:48 */
  position: absolute;
  right: 8px;
  width: 34px;
}
