html {
  font-family: serif;
  font-feature-settings: "palt";
  font-size: 1.0rem;
  scroll-padding-top: 200px;
  text-align: justify;
  -webkit-text-size-adjust: 100%;
}

#notice {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  padding: 9px max(30px, calc(50% - 300px)) 11px;
}
#notice a {
  color: inherit;
}

#nav {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  display: flex;
  fill: black;
  height: 70px;
  padding: 0 max(30px, calc(50% - 300px));
  position: relative;
  top: 0;
  transition: all 100ms linear;
  width: 100%;
  z-index: 1;
}
@media (min-height: 420px) {
  #nav {
    position: sticky;
  }
  #nav.off {
    background-color: transparent;
    border-bottom: 1px solid transparent;
    color: white;
    fill: white;
    text-shadow: 0 0 4px black;
  }
}
#nav a {
  color: inherit;
  padding: 21px 8px 25px;
  text-decoration: none;
}
#nav a:hover {
  opacity: 0.5;
}
#nav a[href="/"] {
  padding: 0;
  width: 69px;  /* Set width explicitly so hanabi symbol can appear */
}

h1 {
  background-color: #619bb7;
  background-image: url("/news/hero.avif");
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid #d0d0d0;
  color: white;
  font-size: 2rem;
  line-height: 1;
  margin-top: -70px;
  padding: 300px 30px 30px;
  text-align: center;
  text-shadow: 0 0 4px black;
  width: 100%;
}

section {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  color: black;
  padding: 30px max(10px, calc(50% - 300px)) 30px;
}
section h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

article {
  background-color: white;
  box-shadow: 0 0 0 1px #d0d0d0;
  border-radius: 12px;
  margin-bottom: 1rem;
  padding: 20px;
  position: relative;
}
article::before {
  background-color: #d0d0d0;
  content: "";
  height: 1rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: -1rem;
  width: 1px;
}
article > :not(:last-child) {
  margin-bottom: 1rem;
}
article h3 {
  font-size: 1.0rem;
  font-weight: bold;
}
article h3 time {
  color: #707070;
  font-weight: normal;
  margin-right: 8px;
}
article a {
  color: inherit;
  word-break: break-all;
}
article dl {
  display: grid;
  column-gap: 4px;
  grid-template-columns: 24px 1fr;
  row-gap: 4px;
}
article dt {
  grid-column: 1;
}
article dt img {
  height: 24px;
  padding: 2px;
  width: 24px;
}
article dd {
  grid-column: 2;
}
article dd .mmdd {
  color: #707070;
}
article dd ul {
  margin-bottom: 0.1rem;
  padding-left: 0;
  list-style: none;
}
article dd li {
  line-height: 1.3;
}
article .tiles {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
}
article .tile {
  aspect-ratio: 1 / 1;
  border: 1px solid transparent;
  display: block;
  overflow: hidden;
}
article a.tile:hover {
  opacity: 0.7;
}
article .tile3x2 {
  aspect-ratio: 3 / 2;
  grid-column: span 3;
  grid-row: span 2;
}
article .tile2x2 {
  aspect-ratio: 2 / 2;
  grid-column: span 2;
  grid-row: span 2;
}
article .tile1x2 {
  aspect-ratio: 1 / 2;
  grid-column: span 1;
  grid-row: span 2;
}
article .tile2x1 {
  aspect-ratio: 2 / 1;
  grid-column: span 2;
  grid-row: span 1;
}
article .tile img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
