html {
  font-family: serif;
  font-feature-settings: "palt";
  font-size: 1rem;
  scroll-padding-top: 200px;
  text-align: justify;
}

#nav {
  align-items: center;
  background-color: #f4f4f4;
  color: black;
  display: flex;
  height: 70px;
  padding: 0 max(30px, 50% - 300px);
  position: fixed;
  top: -70px;  /* controlled by js */
  transition: top 200ms ease-out;
  width: 100%;
  z-index: 9;
}
#nav a:hover {
  opacity: 0.5;
}
#nav a.top {
  aspect-ratio: 1 / 1;
  height: 100%;
}
#nav a.up {
  color: inherit;
  padding: 20px 8px;
  text-decoration: none;
}

#unofficial {
  background-color: #f4f4f4;
  color: black;
  padding: 9px max(30px, 50% - 300px) 11px;
}
#unofficial a {
  color: inherit;
}

@keyframes h1-before {
  from { translate: 0px 0px; }
  to { translate: -15px -9px; }
}
@keyframes h1-after {
  from { translate: 0px 0px; }
  to { translate: 15px 9px; }
}
h1 {
  background-color: white;
  color: black;
  font-size: 2rem;
  padding: 410px 30px 40px;
  position: relative;
  text-align: center;
  width: 100%;
}
h1::before {
  animation: 600ms ease-in-out 100ms 2 alternate both h1-before;
  background-color: #d54640;
  clip-path: path("M0,0 h30 a30,30,0,0,1,0,60 h-30 z");
  content: "";
  height: 60px;
  left: calc(50% - 30px - 15px);
  mix-blend-mode: multiply;
  position: absolute;
  rotate: 30deg;
  top: calc(40% - 9px);
  width: 60px;
  z-index: 0;
}
h1::after {
  animation: 600ms ease-in-out 100ms 2 alternate both h1-after;
  background-color: #6274be;
  clip-path: circle(50%);
  content: "";
  height: 60px;
  left: calc(50% - 30px + 15px);
  mix-blend-mode: multiply;
  position: absolute;
  rotate: 30deg;
  top: calc(40% + 9px);
  width: 60px;
  z-index: 0;
}

h2 {
  font-size: 1.5rem;
}
h2 small {
  font-size: 1rem;
}

figure {
  margin-inline: auto;
  max-width: 100%;
  width: 400px;
}
/* <figure> has multiple subfigures */
figure:has(.lr, .lrl, .lrr, .lrlr) {
  display: grid;
  gap: 2px;
  grid-auto-flow: dense;
  grid-template-columns: 1fr 1fr;
}
/* no subfigure */
figure .single {
  border-radius: 12px;
}
/* one subfigure on left, another on right */
figure :nth-child(1 of .lr) {
  border-radius: 12px 0 0 12px;
}
figure :nth-child(2 of .lr) {
  border-radius: 0 12px 12px 0;
}
/* two subfigures on left, one on right */
figure :nth-child(1 of .lrl) {
  border-radius: 12px 0 0 0;
}
figure :nth-child(2 of .lrl) {
  border-radius: 0 12px 12px 0;
  grid-row: span 2;
}
figure :nth-child(3 of .lrl) {
  border-radius: 0 0 0 12px;
}
/* one subfigure on left, two on right */
figure :nth-child(1 of .lrr) {
  border-radius: 12px 0 0 12px;
  grid-row: span 2;
}
figure :nth-child(2 of .lrr) {
  border-radius: 0 12px 0 0;
}
figure :nth-child(3 of .lrr) {
  border-radius: 0 0 12px 0;
}
figure figcaption {
  grid-column: 1 / -1;
  margin: 3px 0;
  text-align: center;
}
figure img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

blockquote {
  display: flex;
  flex-direction: column;
  font-feature-settings: normal;
  justify-content: center;
  margin-top: 1.5rem;
  width: 100%;
  writing-mode: vertical-rl;
}

#ce {
  background-color: #f4f4f4;
  color: black;
  padding: 24px max(30px, 50% - 300px) 24px;
}
#ce > * {
  margin-bottom: 1rem;
}

#eve {
  background-color: white;
  color: black;
  padding: 24px max(30px, 50% - 300px) 24px;
}
#eve > * {
  margin-bottom: 1rem;
}
#eve a {
  color: inherit;
  word-break: break-all;
}
#eve figure img {
  background-color: #f4f4f4;
}

#day1 {
  background-color: #f4f4f4;
  color: black;
  padding: 24px max(30px, 50% - 300px) 24px;
}
#day1 > * {
  margin-bottom: 1rem;
}
#day1 figure img {
  background-color: white;
}

#day2 {
  background-color: white;
  color: black;
  padding: 24px max(30px, 50% - 300px) 24px;
}
#day2 > * {
  margin-bottom: 1rem;
}
#day2 figure img {
  background-color: #f4f4f4;
}

#afterword {
  background-color: #f4f4f4;
  color: black;
  padding: 24px max(30px, 50% - 300px) 24px;
}
#afterword > * {
  margin-bottom: 1rem;
}
