html {
  font-family: serif;
  font-feature-settings: "palt";
  font-size: 1rem;
  scroll-padding-top: 200px;
  text-align: justify;
}

#nav {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  display: flex;
  height: 70px;
  padding: 0 max(30px, 50% - 300px);
  position: fixed;
  top: -70px;
  transition: top 200ms ease-out;
  width: 100%;
  z-index: 9;
}
@media (min-height: 420px) {
  #nav.on {
    top: 0;
  }
}
#nav a:hover {
  opacity: 0.5;
}
#nav a.top {
  aspect-ratio: 1 / 1;
  height: 100%;
}
#nav a.up {
  color: inherit;
  padding: 20px 8px;
  text-decoration: none;
}

#unofficial {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  padding: 9px max(30px, 50% - 300px) 11px;
}
#unofficial a {
  color: inherit;
}

@keyframes h1-before {
  from { translate: 0px 0px; }
  to { translate: -15px -9px; }
}
@keyframes h1-after {
  from { translate: 0px 0px; }
  to { translate: 15px 9px; }
}
h1 {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  color: black;
  font-size: 1.7rem;
  padding: 410px 30px 40px;
  position: relative;
  text-align: center;
  width: 100%;
}
h1::before {
  animation: 600ms ease-in-out 100ms 2 alternate both h1-before;
  background-color: #d54640;
  clip-path: path("M0,0 h30 a30,30,0,0,1,0,60 h-30 z");
  content: "";
  height: 60px;
  left: calc(50% - 30px - 15px);
  mix-blend-mode: multiply;
  position: absolute;
  rotate: 30deg;
  top: calc(40% - 9px);
  width: 60px;
  z-index: 0;
}
h1::after {
  animation: 600ms ease-in-out 100ms 2 alternate both h1-after;
  background-color: #6274be;
  clip-path: circle(50%);
  content: "";
  height: 60px;
  left: calc(50% - 30px + 15px);
  mix-blend-mode: multiply;
  position: absolute;
  rotate: 30deg;
  top: calc(40% + 9px);
  width: 60px;
  z-index: 0;
}

main {
  background-color: white;
  color: black;
  padding: 30px max(30px, 50% - 300px) 30px;
}
main > :not(hr, :last-child) {
  margin-bottom: 1rem;
}
main h2 {
  font-size: 1.2rem;
  font-weight: bold;
}
main h2 time {
  border-radius: 12px;
  color: white;
  display: inline-block;
  font-size: 1rem;
  margin-inline-end: 8px;
  padding-inline: 8px;
  &.mon, &.tue, &.wed, &.thu, &.fri { background-color: black; }
  &.sat { background-color: #6274be; }
  &.sun { background-color: #d54640; }
}
main hr {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  margin: 24px -30px;
  width: calc(100% + 60px);
}
main a {
  color: inherit;
  word-break: break-all;
}
main figure {
  margin-inline: auto;
  max-width: 100%;
  width: 400px;
  /* <figure> has multiple subfigures */
  &:has(.lr, .lrl, .lrr, .lrlr) {
    display: grid;
    gap: 2px;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr;
  }
}
/* two subfigures on left, one on right */
main figure :nth-child(2 of .lrl) {
  grid-row: span 2;
}
/* one subfigure on left, two on right */
main figure :nth-child(1 of .lrr) {
  grid-row: span 2;
}
main figure figcaption {
  grid-column: 1 / -1;
  margin-top: 2px;
  text-align: center;
}
main figure img {
  background-color: #f0f0f0;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
main figure a:hover {
  opacity: 0.7;
}
main blockquote {
  display: flex;
  flex-direction: column;
  font-feature-settings: normal;
  justify-content: center;
  margin-top: 1.5rem;
  position: relative;
  width: 100%;
  writing-mode: vertical-rl;
  z-index: 1;
}
