html {
  font-family: serif;
  font-feature-settings: "palt";
  font-size: 1rem;
  scroll-padding-top: 74px;
  text-align: justify;
}

#nav {
  align-items: center;
  background-color: #f4f4f4;
  color: black;
  display: flex;
  height: 70px;
  padding: 0 max(30px, 50% - 300px);
  position: fixed;
  top: -70px;  /* controlled by js */
  transition: top 200ms ease-out;
  width: 100%;
  z-index: 1;
}
#nav a:hover {
  opacity: 0.5;
}
#nav a.top {
  aspect-ratio: 1 / 1;
  height: 100%;
}
#nav a.up {
  color: inherit;
  padding: 20px 8px;
  text-decoration: none;
}

#unofficial {
  background-color: #f4f4f4;
  color: black;
  padding: 9px max(30px, 50% - 300px) 11px;
}
#unofficial a {
  color: inherit;
}

h1 {
  background-color: white;
  background-image: url("/news/2026/kisaragisai/hero.avif");
  background-position: 50% 30%;
  background-size: cover;
  color: black;
  font-size: 2rem;
  padding: 410px 30px 40px;
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 1.5rem;
}
h2 small {
  font-size: 1rem;
}

figure {
  border-radius: 12px;
  margin-inline: auto;
  max-width: 100%;
  overflow: clip;
  width: 400px;
}
/* <figure> has multiple subfigures */
figure:has(.lr, .lrl, .lrr, .lrlr) {
  display: grid;
  gap: 2px;
  grid-auto-flow: dense;
  grid-template-columns: 1fr 1fr;
}
/* two subfigures on left, one on right */
figure :nth-child(2 of .lrl) {
  grid-row: span 2;
}
/* one subfigure on left, two on right */
figure :nth-child(1 of .lrr) {
  grid-row: span 2;
}
figure figcaption {
  grid-column: 1 / -1;
  padding: 3px 0 5px;
  text-align: center;
}
figure img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
figure a:hover {
  opacity: 0.7;
}

.carousel {
  anchor-name: --carousel;
  anchor-scope: all;
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-inline: clamp(-30px, 50% - 300px, 0px);
  margin-bottom: 38px;  /* padding box height of ::scroll-marker-group */
  overflow-x: scroll;
  padding-inline: clamp(0px, 300px - 50%, 30px);
  scroll-marker-group: after;
  scroll-snap-type: x mandatory;
  width: min(600px, 100vw);
}
.carousel::scroll-marker-group {
  display: flex;
  gap: 6px;
  padding: 16px;
  position: absolute;
  position-anchor: --carousel;
  position-area: bottom center;
}
.carousel li {
  background-color: white;
  border-radius: 12px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 250px;
  overflow: clip;
  position: relative;
  scroll-snap-align: center;
  width: 200px;
}
.carousel li::scroll-marker {
  background-color: #e0e0e0;
  border-radius: 50%;
  content: "";
  height: 6px;
  transition: background-color 200ms;
  width: 6px;
}
.carousel li::scroll-marker:target-current {
  background-color: black;
}
.carousel img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel small {
  bottom: 38px;
  font-size: 1rem;  /* not small actually */
  left: 1rem;
  position: absolute;
}
.carousel b {
  bottom: 16px;
  left: 1rem;
  position: absolute;
}

#merchandise {
  background-color: #f4f4f4;
  color: black;
  padding: 24px max(30px, 50% - 300px) 24px;
}
#merchandise > * {
  margin-bottom: 1rem;
}

#kisaragisai {
  background-color: white;
  color: black;
  padding: 24px max(30px, 50% - 300px) 24px;
}
#kisaragisai > * {
  margin-bottom: 1rem;
}
#kisaragisai figure img {
  background-color: #f4f4f4;
}

#whistlecafe {
  background-color: #f4f4f4;
  color: black;
  padding: 24px max(30px, 50% - 300px) 24px;
}
#whistlecafe > * {
  margin-bottom: 1rem;
}
#whistlecafe figure img {
  background-color: white;
}

#orangecat {
  background-color: white;
  color: black;
  padding: 24px max(30px, 50% - 300px) 24px;
}
#orangecat > * {
  margin-bottom: 1rem;
}
#orangecat figure img {
  background-color: #f4f4f4;
}

#crowdfunding {
  background-color: #f4f4f4;
  color: black;
  padding: 24px max(30px, 50% - 300px) 24px;
}
#crowdfunding > * {
  margin-bottom: 1rem;
}
#crowdfunding a {
  color: inherit;
  word-break: break-all;
}

#paradox21 {
  background-color: white;
  color: black;
  padding: 24px max(30px, 50% - 300px) 24px;
}
#paradox21 > * {
  margin-bottom: 1rem;
}
#paradox21 a {
  color: inherit;
  word-break: break-all;
}
